@font-face {
font-family: Moon;
src: url("../fonts/Moon Light.otf") format("opentype");
}

@font-face {
	font-family: Arciform;
	src: url("../fonts/Arciform.otf") format("opentype");
}

@font-face {
	font-family: Billy;
	src: url("../fonts/billy.ttf") format("truetype");
}

body {
	background-color: lightgray;
}

.title {
	font-size: 200px;
	color: black;
	/*margin: auto auto; */
	font-family: Billy;
	text-align: center;
	/*background-image: url('../images/code.png');
	background-size: cover*/
}

.subtitle {
	font-family: Arciform;
	font-style: italic;
	text-align: center;
	font-size: 30px;
}

.headline {
	text-align: center;
	font-family: Arciform;
	font-size: 25px;
	/*text-shadow: 0 0 2px black; */
	/*color: #bada55;*/
	/*background: url('data:image/gif;base64,R0lGODlhAwAJAIABAFFRUf///yH5BAEAAAEALAAAAAADAAkAAAIHTHBpibitCgA7') repeat-x left center;*/
}

.content {
	text-align: justify
}

.tag {
	position: absolute;
	font-family: Arciform;
	color: black;
	visibility: hidden;
}

.tag:hover {
	text-shadow: 0 0 2px black; 
	color: #bada55;
	text-decoration: none;
}

.tag-box {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.move {
		/*transform:translate(200px,100px);*/
		visibility: visible
}