@font-face {
font-family: Moon;
src: url("../../fonts/Moon Light.otf") format("opentype");
}

@font-face {
	font-family: Arciform;
	src: url("../../fonts/Arciform.otf") format("opentype");
}

@font-face {
	font-family: Billy;
	src: url("../../fonts/billy.ttf") format("truetype");
}

@font-face {
	font-family: Dreamer;
	src: url("../../fonts/DREAMERS BRUSH.otf") format("opentype");
}

$badass: #bada55;

body {
	background-color: lightgray;
}

.title {
	font-size: 200px;
	color: black;
	margin: 100px 0 0 0;
	font-family: Billy;
	text-align: center;
	line-height: 0.5;
	/*background-image: url('../images/code.png');
	background-size: cover*/
}

.subtitle {
	font-family: Arciform;
	font-style: italic;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

.footer {
	font-family: Arciform;
	color: black;
	font-size: 20px;
	text-align: center;
}